# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# secrets
.env

# wandb 
wandb/

# full datasets and cache
data/full/
data/sample/
*.tar.gz
.cache

# local‐mode outputs
sagemaker-*
output/
