# Byte‐compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# secrets
.env

# wandb 
wandb/

# full datasets and cache
data/full/test/
data/full/train/
data/sample/test/
data/sample/train/
*.tar.gz
.cache

# local‐mode outputs
sagemaker-*
output/

# example images
examples/
