# Byte‐compiled / optimized / DLL files / .cache
__pycache__/
*.py[cod]
*$py.class
.cache
.pytest_cache
.ruff_cache

# secrets
.env

# wandb 
wandb/

# datasets
data/
*.tar.gz

# local‐mode outputs
sagemaker-*
output/

# example images
examples/
